


<div class="container">


    <div class="leftHero">

    <h1>Upload Your Docs access anywhere </h1>
    <p>Here you can upload your docs 
        access anywhere can use any where you want to use.
    </p>

  <a href="signup" id="leftHeroBtn">SignUp Now</a>

    </div>


    <div class="rightHero">

       <img src="https://cdn-icons-png.flaticon.com/512/5064/5064889.png" alt="">

    </div>






</div>