<%- include('header') -%>
<%- include('navbar') -%> 


<div class="signUpContainer">

    <h1> <%=signupMessage %></h1>

<form action="/Login" class="signUpForm" method="post">


<label for="email" >Email</label>
<input type="email" name="email" placeholder="Email">
<label for="password" >password</label>
<input type="password" name="password" placeholder="password">

<button type="submit" class="signUpBtn"> Log In</button>

    
</form>
</div>


<%- include('footer') -%>

