<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Docs Uploader</title>
</head>
<body>

    <nav>
<h1 class="logo">DocsUploader</h1>

<ul class="listItem">
    <a href="/">
        <li class="listItems">Home</li>
    </a>
    <a href="SignUp">
        <li class="listItems">SignUp</li>
    </a>
    <a href="LogIn">
        <li class="listItems">Login</li>
    </a>
    <a href="Logout">
        <li class="listItems">Logout</li>
    </a>
    <a href="Upload">
        <li class="listItems">Upload</li>
    </a>
</ul>
       
    </nav>




<form action="">


  <h1>logout</h1>

    
</form>



<%- include('footer') -%>