<nav>
    <a href="/">
        <h1 class="logo">DocsUploader</h1>
    </a>
   
    
    <ul class="listItem">
        <a href="/">
            <li class="listItems">Home</li>
        </a>
        <a href="SignUp">
            <li class="listItems">SignUp</li>
        </a>
        <a href="LogIn">
            <li class="listItems">Login</li>
        </a>
        <!-- <a href="Logout">
            <li class="listItems">Logout</li>
        </a> -->
        <a href="Upload">
            <li class="listItems">Upload</li>
        </a>
       
    </ul>
    <a href="" class="menu">
        <li class="listItems listItems-menu"><ion-icon name="menu-outline"></ion-icon></li>
    </a>
        </nav>